<div class="review">
	<div class='row'>
		<p>{{restaurant}}</p>
		<p>{{location.city}}, {{location.state}}</p>
		<p>{{rating}}</p>
		<p>{{content}}</p>
		<button class="btn btn-primary update" id={{_id}}>Update</button>
		<button class = "btn btn-danger delete" id={{_id}}>Delete</button>
	</div>
</div>