<!DOCTYPE html>
<html>
  <head>
    <title>Restau-Rant</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel='stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='./stylesheets/map.css'>
    <link rel='stylesheet' href='./stylesheets/colorgraph.css'>
    <link rel='stylesheet' href='./stylesheets/form.css'>
    <link rel='stylesheet' href='./stylesheets/button.css'>
    <link rel='stylesheet' href='./stylesheets/googleButton.css'>
    <link rel='stylesheet' href='./stylesheets/modal.css'>
    <link rel='stylesheet' href='./stylesheets/navbar.css'>
    <link rel='stylesheet' href='./stylesheets/viewReviews.css'>
    <link rel='stylesheet' href='./stylesheets/panel.css'>
    <link rel='stylesheet' href='./stylesheets/stars.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="./javascripts/map.js"></script>
    <script src = "./javascripts/login.js"></script>
    <script src = "./javascripts/signup.js"></script>
    <script src = "./javascripts/manageReviews.js"></script>
    <script src="./javascripts/deleteReview.js"></script>
    <script src="./javascripts/settings.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMLuZYJktjaZ8fwnkNNsm9dRtRqyIwHo4&libraries=places&callback=initMap" async defer></script>


  </head>
  <body>
      <script id="reviewTemplate" type="text/x-handlebars-template">
      <div class="review" id={{_id}}>
        <div class='row panel panel-success'>
          <div class='panel-heading'>
            <!-- <div class='row'> -->
              <div>
                <h3 class='panel-title'>\{{author.name}}</h3>
              </div>
              <div class='star-rating'>
                <span class='fa fa-star-o' data-rating='1'></span>
                <span class='fa fa-star-o' data-rating='2'></span>
                <span class='fa fa-star-o' data-rating='3'></span>
                <span class='fa fa-star-o' data-rating='4'></span>
                <span class='fa fa-star-o' data-rating='5'></span>
              </div>
            <!-- </div> -->
          </div>
          <div class='panel-body'>
            <!-- <p class='info'><b>Rating: </b>\{{rating}}</p> -->
            <p class='info'><b> Review: </b>\{{content}}</p>

            <!-- <button class="btn btn-primary update" id={{_id}}>Update</button>
            <button class = "btn btn-danger delete" id={{_id}}>Delete</button> -->
          </div>
        </div>
      </div>
      </script>

      <script id="myReviewsTemplate" type="text/x-handlebars-template">
      <div class="myReview" id="\{{_id}}">
        <div class='row panel panel-success'>
          <div class='panel-heading'>
            <!-- <div class='row'> -->
              <div>
                <h3 class='panel-title'>\{{restaurantName}}</h3>
              </div>
<!--               <div class='star-rating'>
                <span class='fa fa-star-o' data-rating='1'></span>
                <span class='fa fa-star-o' data-rating='2'></span>
                <span class='fa fa-star-o' data-rating='3'></span>
                <span class='fa fa-star-o' data-rating='4'></span>
                <span class='fa fa-star-o' data-rating='5'></span>
              </div> -->
            <!-- </div> -->
          </div>
          <div class='panel-body'>
            <!-- <p class='info'><b>Rating: </b>\{{rating}}</p> -->
            <p class='info'><b> Review: </b>\{{content}}</p>

            <!-- <button class="btn btn-primary update" id={{_id}}>Update</button> -->
            <button class = "btn btn-danger delete" id="\{{_id}}">Delete</button>
          </div>
        </div>
      </div>
    </script>



    <nav class = 'navbar navbar-static top' id="navigation">
      <div class='navbar-header'>
        <li><a class='navbar-brand'>Restau-Rant</a></li>
      </div>
      <div id="search">
        <input id="pac-input" class="controls" type="text" placeholder='Search for restaurants (e.g. "clover mit")'></input> 
        <button class = 'btn btn-success' id='searchButton' type = 'submit' onclick="search()">Search</button> 
      </div>
      <ul id= "navbarList" class = 'nav navbar-nav navbar-right'> 
        <li id = "navbarAbout"><a href = "#" data-toggle = "modal" data-target = "#about"> About </a></li>
      {{#if loggedIn}}
        <li id='navbarProfile'> <a href="#" data-toggle="modal" data-target = "#profile" > Profile </a></li>
        <li id= 'navbarManageReviews'><a href = "#" data-toggle="modal" data-target ="#manageReviewsModal"> Manage Reviews </a></li>
        <li id = 'navbarLogout'> <a  href="/logout"> Log Out </a> </li>
      {{else}}
        <li id= 'navbarLogin'> <a href="#" data-toggle="modal" data-target="#loginModal" > Log in/Register </a></li>
      {{/if}}
      </ul>
    </nav> 

    <div hidden id='viewReviews' class = 'col-md-3'>


    </div>

    <div id="map">

    </div>
    

    <div id='loginModal' class = 'modal fade' role='dialog'>
        <div class='modal-dialog' role='document'>
            <div class = 'modal-content'>
                <div class='modal-header'>
                    <button id = 'loginClose' type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class='modal-title' id="signInTitle">Please Sign In</h2>
                </div>
          <div id='loginModalBody' class='modal-body'>
            <!-- <form method='POST' action='/login' id='loginForm'> -->
                <div hidden id = 'loginAlert' class='alert alert-danger'>
                  <!-- <strong>Error!</strong> {{message}} -->
                </div>
              <fieldset>
                <hr>
                <div class="form-group">
                  <input type="username" name="username" id="loginUsername" class="form-control input-lg" placeholder="Username"></input>
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="loginPassword" class="form-control input-lg" placeholder="Password"></input>
                </div>
                <div style="text-align:center" class='form-group'>
                  <h5>or</h5>
                </div>
                <a href = '/auth/google' id='googleButton' class="btn btn-block btn-social btn-google">
                  <span class="fa fa-google"></span>
                  Sign in with Google
                </a>
                <div class="row form-group">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <button id='loginButton' type="submit" class="btn btn-lg btn-success btn-block">Log in</button>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <button id= 'loginToRegister' class="btn btn-lg btn-primary btn-block">Register</button>
                  </div>
                </div>
              </fieldset>
            <!-- </form> -->
          </div>
      </div>
    </div>
    </div>

    <div id='signupModal' class = 'modal fade' role='dialog'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button id = 'signupClose' type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class='modal-title' id="signupTitle">Please Sign Up</h2>
                </div>
                <div id='signupModalBody' class='modal-body'>
            <!-- <form method='POST' action='/login' id='loginForm'> -->
                <div hidden id = 'signupAlert' class='alert alert-danger'>
              <!-- <strong>Error!</strong> {{message}} -->
                </div>
                <hr>
                  <div class="form-group">
                      <input id = 'signupName' type="text" name="name" id="name" class="form-control input-lg" placeholder="Name" tabindex="1">
                  </div>
               

                  <div class="form-group">
                      <input id='signupUsername' type="username" name="username" id="username" class="form-control input-lg" placeholder="Username" tabindex="4">
                  </div>
                  <div class="form-group">
                        <input id='signupPassword' type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
                  </div>
            
                <div class="form-group">
                    <div><button id='signupSubmit' type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7">Register</div>
                </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
    <div id="confirmDeleteModal" class = "modal fade" role="dialog">
      <div class="modal-dialog" role='document'>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class='modal-title' id="confirmDeleteTitle">Confirm Delete</h2>
          </div>
          <div class="modal-body">
            <h4> Are you sure you want to delete this review? </h4>
            <button class="btn btn-success confirmDeleteButton">Yes</button>
          </div>
        </div>
      </div>
    </div>


    <div id='writeAReview' class = 'modal fade' role='dialog'> 
     <div class='modal-dialog' role='document'>
        <div class = 'modal-content'>
          <div class='modal-header'>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class='modal-title' id="reviewTitle">Write a Review</h2>
          </div>

           <div class='modal-body'>

              <fieldset>
                <hr id="starLine">
                
                <div class="reviewStars" >
                  <fieldset class="rating">
                      <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" ></label>
                      <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" ></label>
                      <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" ></label>
                      <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" ></label>
                      <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" ></label>
                  </fieldset>
                </div>
                <div class="form-group">
                  <textarea rows="10" type="text" id="reviewContent" class="form-control input-lg" placeholder="Review"></textarea>
                </div>
                <div>
                      <button type="submit" class="btn btn-lg btn-success btn-block" id="submitReview">Submit Review</button>
                </div>
              </fieldset>
          </div>
      </div>
    </div>
    </div>
    <div id="manageReviewsModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; </span></button>
            <h2 class="modal-title" id="manageReviewsTitle">Manage Reviews</h2>
          </div>
          <div id = "manageReivewsModalBody" class="modal-body">
          <hr id="manageReviewsLine">
            <div hidden id="manageReviewsErrors">

            </div>
            <div id="userReviews">

            </div>
          <!-- manage reviews content goes here -->

          </div>
        </div>
      </div>
    </div>
    <div id='about' class = 'modal fade' role='dialog'> 
     <div class='modal-dialog' role='document'>
        <div class = 'modal-content'>
          <div class='modal-header'>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class='modal-title' id="AboutTitle" style="float: center">Welcome to Restau-Rant!</h2>
          </div>
           <div class='modal-body'>
           <hr>
              <fieldset>
              <p> If you're looking for restaurant reviews, you've come to the right place! </p>

              <p><strong>Log in or register</strong> to rant about your favorite(or not-so-favorite) restaurants and read reviews written by people just like you.</p>

              <p>Upon registering, remember to <strong>fill out your profile so we can match you with reviews written by people with similar dietary preferences</strong>.</p>
             

              <p>Continue without an account for less personalized results.<p>

              <p> You can <strong>search for restaurants by name, location, and keyword</strong>. The more specific your search is, the more specific your results will be.<p>

              <p> "subway nashua nh" will give you 7 Subways near Nashua, NH.</p>
              <p>"mcdonalds" will give you a smattering of McDonald's across the world.</p>

              <p> If you can't find the restaurant you're looking for, please contact Aditi at aditiharini@gmail.com. </p>
              </fieldset>
          </div>
      </div>
    </div>
    </div>

    <div id="profile" class = "modal fade" role = "dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; </span></button>
            <h2 class = "modal-title" id = "profileTitle"> Settings </h2>
            </div>
          <div class = "modal-body">
           <div hidden id = 'agecityalert' class='alert alert-danger'>
                  <!-- <strong>Error!</strong> {{message}} -->
                </div>
          <hr id='settingsLine'>
          <fieldset>
          <div class='form-group'>
          <h4>Location </h4>
                <label> State </label>
                <select class="custom-select" id = "State">
                <option id = "selected" select></option>
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
              </select>
              <br>
              <label> City <input id = "city" type = "text"> </input></label> 
              </div>
              <div class='form-group'>
                <h4> Age</h4>
                <input id='age' type = 'text'></input> 
                </div>
   <!--            <h4> Gender </h4> <input type="radio" name="gender" value="male" id = "male"> Male <input type="radio" name="gender" value="female" id= "female"> Female<br> <br> -->
            <div class='form-group'>
              <h4> Ethnicity </h4>
              <select class="custom-select" id = "Ethnic">
                <option id = "selected" select></option>
                  <option value="White">White</option>
                  <option value="Hispanic or Latino">Hispanic or Latino</option>
                  <option value="Black or African-American">Black or African-American</option>
                  <option value="South Asian">South Asian</option>
                  <option value="East Asian">East Asian</option>
                  <option value="Italian">Italian</option>
                  <option value="Native American or Other Pacific Islander">Native Hawaiian or Other Pacific Islander</option>
                  <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
              </select>
              </div>
              <div class='form-group'>
              <h4> Dietary Restrictions </h4>
                <label>Vegetarian <input type = 'checkbox' id = 'vegetarian' value = 'vegetarian' id = "vegetarian"></input></label> <br> 
                <label> Vegan <input type = 'checkbox' id = 'vegan' value = 'vegan' id = "vegan"></input></label> <br>
                <label> Kosher <input type = 'checkbox' id = 'kosher' value = 'kosher' id = "kosher"></input></label> <br>
              <label> Halal <input type = 'checkbox' id = 'halal' value = 'halal' id = "halal"></input></label><br>
              <label> Nut Allergies <input type = 'checkbox' id = 'nutAllergies' value = 'nutAllergies' id = "nutAllergies"></input></label> <br>  
              </div>
              <div >
                      <button type="submit" class="btn btn-lg btn-success btn-block" id="submit" onclick = "save()">Save to Profile</button>
                </div>
                </fieldset>
          </div>
          </div>
          </div>
          </div>



    
</body>
</html>

