<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel='stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
/*       #mapOuter{
        height:100%;
        position:absolute;
       }*/
      #map {
        height: 100%;
        width:100%;
        margin:0;
        position:relative;
        /*float:right;*/
        /*position: absolute;*/
        /*overflow:hidden;*/
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      .controls {
        background-color: #fff;
        border-radius: 0px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      #map #infowindow-content {
        display: inline;
      }

      #content {
        height: 100px;
      }
      #viewReviews{
        position:absolute;
        overflow:auto;
        height:93%;
        z-index: 10;
        top:48px;
        background:#dff0d8;
      }

      ul {
        list-style-type: none; 
        margin: 0;
        padding: 0;
      }

      li {
        float: right;
        display: inline;
        margin-right:5px;
        /*margin-top:0px;*/
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
      #search {
        float: left;
        height: 48px;
      }

      #header {
        height: 45px;
        margin: 0; 
        padding:  0;
      }
      .navbar{
        background-color:green;
        padding:0;
        height: 48px;
        margin-bottom:0;
        position: absolute;
        z-index: 11;
        width:100%;
        border-radius: 0px;

        /*margin-left:0;*/
        /*margin-right:0;*/
        /*margin:0;*/
      }
/*      #noReviews{
        background-color: pink;
        color:blue;
        z-index: 12;
      }*/
      .panel{
        margin-bottom:0;
        padding:0;
        border-radius: 0;
        border-color: green;
        border-left-width: 6px;
        border-right-width:6px;
        border-bottom-width: 6px;
        border-top-width: 0px;
      }
      .modal-content{
        border-radius:0;
      }
      .form-control{
        border-radius: 0;
      }
      #googleButton{
        margin-bottom: 20px;
      }
      .btn{
        border-radius: 0px;

      }

      .modal-header{
        border-bottom: 0px;
        padding-bottom: 0px;
      }
      .modal-body{
        padding-top: 0px;
      }
      hr{
        margin-top:10px;
      }
      .star-rating{
      }
      #manageReivewsModalBody{
        padding-bottom:0px;
      }
      .myReview.panel{
        border-top: 6px;
      }


    </style>
    <style>
      .colorgraph {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 0px;
        background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      }

      .btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
      .btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
      .btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
      .btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
      .btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
      .btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
      .btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
      .btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
      .btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
      .btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
      .btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
      .btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

      .btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:focus,.btn-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
      .btn-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
      .btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.btn-google:active:hover,.btn-google.active:hover,.open>.dropdown-toggle.btn-google:hover,.btn-google:active:focus,.btn-google.active:focus,.open>.dropdown-toggle.btn-google:focus,.btn-google:active.focus,.btn-google.active.focus,.open>.dropdown-toggle.btn-google.focus{color:#fff;background-color:#a32b1c;border-color:rgba(0,0,0,0.2)}
      .btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}
      .btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled.focus,.btn-google[disabled].focus,fieldset[disabled] .btn-google.focus{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
      .btn-google .badge{color:#dd4b39;background-color:#fff}
      </style>

  </head>
  <body>

      <script id="reviewTemplate" type="text/x-handlebars-template">
      <div class="review" id={{_id}}>
        <div class='row panel panel-success'>
          <div class='panel-heading'>
            <!-- <div class='row'> -->
              <div>
                <h3 class='panel-title'>\{{author.name}}</h3>
              </div>
              <div class='star-rating'>
                <span class='fa fa-star-o' data-rating='1'></span>
                <span class='fa fa-star-o' data-rating='2'></span>
                <span class='fa fa-star-o' data-rating='3'></span>
                <span class='fa fa-star-o' data-rating='4'></span>
                <span class='fa fa-star-o' data-rating='5'></span>
              </div>
            <!-- </div> -->
          </div>
          <div class='panel-body'>
            <!-- <p class='info'><b>Rating: </b>\{{rating}}</p> -->
            <p class='info'><b> Review: </b>\{{content}}</p>

            <!-- <button class="btn btn-primary update" id={{_id}}>Update</button>
            <button class = "btn btn-danger delete" id={{_id}}>Delete</button> -->
          </div>
        </div>
      </div>
      </script>

      <script id="myReviewsTemplate" type="text/x-handlebars-template">
      <div class="myReview" id="\{{_id}}">
        <div class='row panel panel-success'>
          <div class='panel-heading'>
            <!-- <div class='row'> -->
              <div>
                <h3 class='panel-title'>\{{restaurantName}}</h3>
              </div>
<!--               <div class='star-rating'>
                <span class='fa fa-star-o' data-rating='1'></span>
                <span class='fa fa-star-o' data-rating='2'></span>
                <span class='fa fa-star-o' data-rating='3'></span>
                <span class='fa fa-star-o' data-rating='4'></span>
                <span class='fa fa-star-o' data-rating='5'></span>
              </div> -->
            <!-- </div> -->
          </div>
          <div class='panel-body'>
            <!-- <p class='info'><b>Rating: </b>\{{rating}}</p> -->
            <p class='info'><b> Review: </b>\{{content}}</p>

            <!-- <button class="btn btn-primary update" id={{_id}}>Update</button> -->
            <button class = "btn btn-danger delete" id="\{{_id}}">Delete</button>
          </div>
        </div>
      </div>
    </script>
      <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var map;
      var infowindow;
      var service;
      var markers = [];
      var currentRestaurantId;
      var bounds;
      var idToInfo = {};


      function initMap() {
        var nashua = {lat: 42.7654, lng: -71.4676};


        map = new google.maps.Map(document.getElementById('map'), {
          center: nashua,
          zoom: 15
        });
        google.maps.event.addDomListener(window, "resize", function() {
         var center = map.getCenter();
         google.maps.event.trigger(map, "resize");
         map.setCenter(center); 
        });
        //initialize
        

        

        infowindow = new google.maps.InfoWindow();
        service = new google.maps.places.PlacesService(map);
      }


      function search(){
        console.log('got here');
          service.textSearch({
          // location: map.getCenter(),
          // radius: 500,
          type: ['restaurant'],
          query:$('#pac-input').val(),
        }, callback);
      }

      function query(result){
        deleteMarkers();
        $('#viewReviews').hide();
        $.ajax({
          type:'POST',
          url:'/',
          data:{query:true, id:result.place_id},
          dataType:'json',
          success: function(res){
            console.log("got to ajax request");
            if(res.error){
              console.log(error);
              // createMarker(results[i], id);
              // return;

            }
            else if(res.restaurant){
              console.log(result);
              createMarker(result, true);
            }
            else{
              console.log(result);
              createMarker(result, false);
            }


          }
          // query the database to see if this place has reviews... set infowindow accordingly

        });

      }

    

      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          bounds = new google.maps.LatLngBounds();
          addButtonListeners();
          for (var i = 0; i < results.length; i++) {
            // console.log(results[i]);
            var id = results[i].place_id;
            // move create marker to ajax callback
            query(results[i]);


       
          }
        }
      }

      function createMarker(place, restaurantExists) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
        markers.push(marker);
        // idToInfo[place.place_id] = place.name;
        console.log(place.geometry.location.lat());
        //something weird happening here
        bounds.extend(new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng()));
        map.fitBounds(bounds);
        // map.fitBounds(bounds);

        google.maps.event.addListener(marker, 'click', function() {
          // if the place exists, have reviews button in infowindow
          // if it doesn't exist, have make review button
          // check if user is logged in before anything else
          var existsHtml = '<div id="content">' +
      '<p>' + place.name + '</p>'+ 
      '<p>' + place.formatted_address + '</p>'+
      '<button class = "btn btn-success viewReviews" id = ' + place.place_id + '>' + 'View Reviews' + '</button>'+
      '<button class = "btn btn-primary createReview" id = ' + place.place_id + '>' + 'Write a Review</button>'+
      '</div>';

          var notExistsHtml = '<div id="content">' +
      '<p>' + place.name + '</p>'+ 
      '<p>' + place.formatted_address + '</p>' +
      '<p id="noReviewsIndicator"> No existing reviews </p>' + 
      '<button class = "btn btn-success viewReviews" style="display:none;" id = ' + place.place_id + '>' + 'View Reviews</button>'+
      '<button class = "btn btn-primary createReview"  id = ' + place.place_id + '>' + 'Write a Review</button>'+
      '</div>';
          if(restaurantExists){
            infowindow.setContent(existsHtml);
          }
          else{
            infowindow.setContent(notExistsHtml);
          }
          
          infowindow.open(map, this);
        });
      }

    function addButtonListeners(){
      $('#map').on('click','.createReview', function(e){
          console.log($(this).attr('id'));
          var id = $(this).attr('id');
          console.log(id);
          currentRestaurantId = id;
          $('#submitReview').attr('id',id);
          $('#writeAReview').modal('show');
      });
      $('#map').on('click', '.viewReviews', function(e){
        console.log($(this).attr('id'));
        var id = $(this).attr('id');
        currentRestaurantId = id;
        $.ajax({
          type:'POST',
          data:{viewReview:true, id:currentRestaurantId},
          dataType:'json',
          success:function(res){
            console.log('got to ajax view reviews');
            $('#viewReviews').empty();
            
            var reviews = res.reviews;
            var template = $('#reviewTemplate').html();
            var compiledTemplate = Handlebars.compile(template);
            if(reviews.length>0){
              reviews.forEach(function(review, index){
                var output = compiledTemplate(review);
                $('#viewReviews').append(output);
                setRating(review.rating);
                if(index==reviews.length-1){
                  $('#viewReviews').show();

                }

              });
            }
            else{
              var $div = $('<div></div>', {id:"noReviews"});
              var $text = $('<p></p>').text("No relevant reviews");
              var $button = $('<button></button>', {id:"loadAllReviews", class:"btn btn-primary"}).text("Load all reviews");
              $button.click(function(){
                $('#viewReviews').empty();
                $.ajax({
                  url:'/',
                  type:'POST',
                  data:{viewAllReviews:true, id:currentRestaurantId},
                  dataType:'json',
                  success:function(newRes){
                    var allReviews = newRes.reviews;
                    console.log(allReviews);
                    allReviews.forEach(function(thisReview, thisIndex){
                      var newOutput = compiledTemplate(thisReview);
                      $('#viewReviews').append(newOutput);
                      setRating(thisReview.rating);
                      if(thisIndex==allReviews.length-1){
                        $('#viewReviews').show();
                      }
                    });
                    
                  }

              });

              });
              $div.append($text, $button);
              $('#viewReviews').append($div);
              $('#viewReviews').show();
            }
          }

        });

      });
      // need to check if user is logged in
      $('#submitReview').click(function(){
        var id = $(this).attr('id');
        console.log(id);
        var content = $('#reviewContent').val();
        var rating = $('#rating').val();
        $.ajax({
          type:'POST',
          url:'/',
          data:{isReview:true, id: currentRestaurantId, content:content, rating:rating},
          dataType:'json',
          success:function(res){
            console.log('got to ajax request');
            console.log(res.message);
            if(!res.loggedIn){
              $('#writeAReview').modal('hide'); 
              $('#loginModal').modal('show');
              return;
            }
            if(res.message=='success'){
              $('#reviewForm').hide();
              $('#writeAReview').modal('hide');
              $('.viewReviews, #' + currentRestaurantId).show();
              $('#noReviewsIndicator').hide();
              return;
            }
            if(res.message=='error'){
              alert("please try again");
              return;
            }

          }

        });

      });
    }

      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      function clearMarkers() {
        setMapOnAll(null);
      }

      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }

      $(document).ready(function(){
            $('#loginButton').click(function(){
            $('#loginAlert').empty();
            $('#loginAlert').hide();
            console.log('login click event triggered');
            var username=$('#loginUsername').val();
            var password = $('#loginPassword').val();
            $.ajax({
              type:'GET',
              url:'/login',
              data:{username:username, password:password},
              dataType:'json',
              contentType: 'application/json',
              success:function(res){
                console.log('got to login ajax');
                console.log(res.message);
                if(res.message=='success'){
                  $('#loginModal').modal('hide');
                  $('#navbarLogin').hide();
                  $('#navbarList').append('<li> <a href="#" data-toggle="modal" data-target = "#profile" id="navbarProfile"> Profile </a></li>');
                  $('#navbarList').append('<li> <a href="#" data-toggle="modal" data-target = "#manageReviewsModal" id="navbarManageReviews"> Manage Reviews </a></li>');
                
                  $('#navbarList').append('<li> <a id = "navbarLogout" href="/logout"> Log Out </a> </li>');



                }
                // var alertHtml = '<div class="alert alert-danger">' + 
                // '<strong>Error!</strong>' + res.message +
                // '</div>';
                // $('loginModalBody').append(alertHtml);
                else{
                  $('#loginAlert').append('<p>' + res.message + '</p>');
                  $('#loginAlert').show();

                }
              
              }

          });
        });
          $('#loginToRegister').click(function(){
            $('#loginModal').modal('hide');
            $('#signupModal').modal('show');
          });


          $('#signupSubmit').click(function(){
              $('#signupAlert').empty();
              $('#signupAlert').hide();
              var name = $('#signupName').val();
              var username = $('#signupUsername').val();
              var password = $('#signupPassword').val();
              $.ajax({
                type:'POST',
                url: '/signup',
                data: {name:name, username:username, password:password},
                dataType:'json',
                success:function(res){
                  console.log('got to sign in ajax');
                  console.log(res.message);
                  if(res.message=='success'){
                    $('#signupModal').modal('hide');
                    $('#loginModal').modal('show');
                  }
                  else{
                    $('#signupAlert').append('<p>' + res.message + '</p>');
                    $('#signupAlert').show();
                  }
                }

              });
          });
      });
      $(document).on('click', '#navbarManageReviews', function(e){
        $.ajax({
        url:'/reviews',
        type:'GET',
        dataType:'json',
        success: function(res){
          $('#userReviews').empty();
          $('#manageReviewsErrors').empty();
          console.log('got to manage reviews ajax');
          if(res.message=='error'){
            var $errorText = $('<p></p>').text("There was an error loading your reviews. Please try again");
            $('#userReviews').append($errorText);
            return;
          }
          if(res.message=='no reviews'){
            var $noReviewText = $('<p></p>').text("You haven't written any reviews");
            $('#userReviews').append($noReviewText);
            return;

          }
          if(res.message=='success'){
            var reviews = res.reviews;
            var thisTemplate = $('#myReviewsTemplate').html();

            var compiledTemplate = Handlebars.compile(thisTemplate);
            console.log("got past compiledTemplate");
            reviews.forEach(function(review){
              service.getDetails({placeId:review.restaurantId}, function(place, status){
                if(status===google.maps.places.PlacesServiceStatus.OK){
                  var modifiedReview = {};
                  modifiedReview.content = review.content;
                  modifiedReview.restaurantName = place.name;
                  modifiedReview._id = review._id;
                  // console.log(review.restaurantName);
                  // console.log(place.name);
                  console.log(modifiedReview);
                  var output = compiledTemplate(modifiedReview);
                  $('#userReviews').append(output);

                }

              });
              
            });


          }

        }
      });

      });

      $(document).on('click', '.delete', function(e){
          $('#manageReviewsErrors').empty();
          var id = this.id;
          $.ajax({
            type:'POST',
            url:'/reviews',
            data:{action:'delete', id:id},
            dataType:'json',
            success:function(res){
              console.log('got here');
              if(res.message=='success'){
                $('div#' + id + '.myReview').remove();
              }
              else{
                var $text = $('<p></p>').text("Error deleting review");
                $("manageReviewsErrors").append($text);
                $("manageReviewsErrors").show();
                console.log(error);
              }

            }

          });

        });

    </script>
    <nav class = 'navbar navbar-static top' id="navigation">
      <div id="search">
        <input id="pac-input" class="controls" type="text" placeholder="Enter a location"></input> 
        <button class = 'btn btn-success' type = 'submit' onclick="search()">Search</button> 
      </div>
      <ul id= "navbarList" class = 'nav navbar-nav navbar-right'> 
      {{#if loggedIn}}
        <li id='navbarProfile'> <a href="#" data-toggle="modal" data-target = "#profile" > Profile </a></li>
        <li id= 'navbarManageReviews'><a href = "#" data-toggle="modal" data-target ="#manageReviewsModal"> Manage Reviews </a></li>
        <li id = 'navbarLogout'> <a  href="/logout"> Log Out </a> </li>
      {{else}}
        <li id= 'navbarLogin'> <a href="#" data-toggle="modal" data-target="#loginModal" > Log in/Register </a></li>
      {{/if}}
      </ul>
    </nav> 
     
<!--     <div id="header">
    


    </div> -->
    <div hidden id='viewReviews' class = 'col-md-3'>

    </div>

    <!-- <div id='mapOuter'> -->
    <div id="map">
    </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMLuZYJktjaZ8fwnkNNsm9dRtRqyIwHo4&libraries=places&callback=initMap" async defer></script>
    <div id='loginModal' class = 'modal fade' role='dialog'>
        <div class='modal-dialog' role='document'>
            <div class = 'modal-content'>
                <div class='modal-header'>
                    <button id = 'loginClose' type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class='modal-title' id="signInTitle">Please Sign In</h2>
                </div>
          <div id='loginModalBody' class='modal-body'>
            <!-- <form method='POST' action='/login' id='loginForm'> -->
                <div hidden id = 'loginAlert' class='alert alert-danger'>
                  <!-- <strong>Error!</strong> {{message}} -->
                </div>
              <fieldset>
                <hr>
                <div class="form-group">
                  <input type="username" name="username" id="loginUsername" class="form-control input-lg" placeholder="Username"></input>
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="loginPassword" class="form-control input-lg" placeholder="Password"></input>
                </div>
                <div style="text-align:center" class='form-group'>
                  <h5>or</h5>
                </div>
                <a href = '/auth/google' id='googleButton' class="btn btn-block btn-social btn-google">
                  <span class="fa fa-google"></span>
                  Sign in with Google
                </a>
                <div class="row form-group">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <button id='loginButton' type="submit" class="btn btn-lg btn-success btn-block">Log in</button>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <button id= 'loginToRegister' class="btn btn-lg btn-primary btn-block">Register</button>
                  </div>
                </div>
              </fieldset>
            <!-- </form> -->
          </div>
      </div>
    </div>
    </div>

    <div id='signupModal' class = 'modal fade' role='dialog'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button id = 'signupClose' type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class='modal-title' id="signupTitle">Please Sign Up</h2>
                </div>
                <div id='signupModalBody' class='modal-body'>
            <!-- <form method='POST' action='/login' id='loginForm'> -->
                <div hidden id = 'signupAlert' class='alert alert-danger'>
              <!-- <strong>Error!</strong> {{message}} -->
                </div>
                <hr>
                  <div class="form-group">
                      <input id = 'signupName' type="text" name="name" id="name" class="form-control input-lg" placeholder="Name" tabindex="1">
                  </div>
               

                  <div class="form-group">
                      <input id='signupUsername' type="username" name="username" id="username" class="form-control input-lg" placeholder="Username" tabindex="4">
                  </div>
                  <div class="form-group">
                        <input id='signupPassword' type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
                  </div>
            
                <div class="form-group">
                    <div><button id='signupSubmit' type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7">Register</div>
                </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>


    <div id='writeAReview' class = 'modal fade' role='dialog'> 
     <div class='modal-dialog' role='document'>
        <div class = 'modal-content'>
          <div class='modal-header'>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class='modal-title' id="reviewTitle">Write a Review</h2>
          </div>

           <div class='modal-body'>
              <fieldset>
                <div class="form-group">
                            <input type="text" id="reviewContent" class="form-control input-lg" placeholder="Review"></input>
                </div>
                <div class="form-group">
                            <input type="text" id="rating" class="form-control input-lg" placeholder="Rating"></input>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                      <button type="submit" class="btn btn-lg btn-success btn-block" id="submitReview">Submit Review</button>
                </div>
              </fieldset>
          </div>
      </div>
    </div>
    </div>
    <div id="manageReviewsModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; </span></button>
            <h2 class="modal-title" id="manageReviewsTitle">Manage Reviews</h2>
          </div>
          <div id = "manageReivewsModalBody" class="modal-body">
            <div hidden id="manageReviewsErrors">

            </div>
            <div id="userReviews">

            </div>
          <!-- manage reviews content goes here -->

          </div>
        </div>
      </div>
    </div>
    <script>
      // manage reviews script
      // show all reviews

        

    </script>

    <div id="profile" class = "modal fade" role = "dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; </span></button>
            <h2 class = "modal-title" id = "profileTitle"> Settings </h2>
            </div>
          <div class = "modal-body">
          <fieldset> 
          <label>Location </label><br>
                <label> State </label>
                <select class="custom-select" id = "State">
                <option id = "selected" select></option>
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
              </select>

              <br> 

              <label> City <input id = "city" type = "text"> </input></label> <br><br>
                <label> Age <input id='age' type = 'text' oninput = 'ValidateAge()'></input></label> <br><br>

              <label> Gender </label> <input type="radio" name="gender" value="male" id = "male"> Male <input type="radio" name="gender" value="female" id= "female"> Female<br> <br>

              <select class="custom-select" id = "Ethnic">
                <option id = "selected" select></option>
                  <option value="White">White</option>
                  <option value="Hispanic or Latino">Hispanic or Latino</option>
                  <option value="Black or African-American">Black or African-American</option>
                  <option value="South Asian">South Asian</option>
                  <option value="East Asian">East Asian</option>
                  <option value="Italian">Italian</option>
                  <option value="Native American or Other Pacific Islander">Native Hawaiian or Other Pacific Islander</option>
                  <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
              </select>

              
              <br> 

              <h3> Dietary Restrictions </h3>
                <label>Vegetarian <input type = 'checkbox' id = 'vegetarian' value = 'vegetarian' id = "vegetarian"></input></label> <br> 
                <label> Vegan <input type = 'checkbox' id = 'vegan' value = 'vegan' id = "vegan"></input></label> <br>
                <label> Kosher<input type = 'checkbox' id = 'kosher' value = 'kosher' id = "kosher"></input></label> <br>
              <label> Halal<input type = 'checkbox' id = 'halal' value = 'halal' id = "halal"></input></label><br>
              <label> Nut Allergies<input type = 'checkbox' id = 'nutAllergies' value = 'nutAllergies' id = "nutAllergies"></input></label> <br> <br> <br> 

              <div class="col-xs-6 col-sm-6 col-md-6">
                      <button type="submit" class="btn btn-lg btn-success btn-block" id="submit" onclick = "save()">Save to Profile</button>
                </div>

            </fieldset>
          </div>
          </div>
          </div>
          </div>


<script>
      $(document).ready(function(){
        $.ajax({
          type: 'POST', 
          url: '/settings', 
          data: {id: "ethnicity"}, 
          dataType: 'json', 
          success: function(data) {
            var user = data.data; 
            var ethnicity = user.ethnicity; 
            var city = user.location.city; 
            var state = user.location.state; 
            var age = user.age; 
            $("#Ethnic").val(ethnicity); 
            $("#State").val(state); 
            $("#city").val(city); 
            $("#age").val(age); 
            if (user.gender == "female") {
                  document.getElementById("male").checked = false; 
                  document.getElementById("female").checked = true; 
                }
                if (user.gender == "male") {
                  document.getElementById("male").checked = true; 
                  document.getElementById("female").checked = false; 
                }
                $("#vegetarian").prop('checked', user.dietaryRestrictions.vegetarian); 
                $("#vegan").prop('checked', user.dietaryRestrictions.vegan); 
                $("#kosher").prop('checked', user.dietaryRestrictions.kosher); 
                $("#halal").prop('checked', user.dietaryRestrictions.halal);
                $("#nutAllergies").prop('checked', user.dietaryRestrictions.nutAllergies); 

          }
        });
        
      });

  
      function ValidateAge() {
        if (document.getElementById("age").value < 0 | document.getElementById("age").value > 120) {
          alert ("Not a valid age. Please try again."); 
        }
      }
      function save() {
        $.ajax({
          type: 'POST', 
          url: '/settings', 
          data: {
            id: "buttoninput", 
            state: $("#State option:selected").text(),  
            city: $("#city").val(), 
            age: $("#age").val(),
            gender: $("input:radio[name=gender]:checked").val(),
            ethnicity: $("#Ethnic option:selected").text(),
            vegetarian: document.getElementById("vegetarian").checked,
            vegan: document.getElementById("vegan").checked,
            kosher: document.getElementById("kosher").checked,
            halal: document.getElementById("halal").checked,
            nutAllergies: document.getElementById("nutAllergies").checked
          }, 
          dataType: 'json', 
          success: function(data) {
            var user = data.data; 
            $("#State").val(user.location.state); 
                $("#age").val(user.age); 
                $("#city").val(user.location.city); 
                if (user.gender == "female") {
                  document.getElementById("male").checked = false; 
                  document.getElementById("female").checked = true; 
                }
                if (user.gender == "male") {
                  document.getElementById("male").checked = true; 
                  document.getElementById("female").checked = false; 
                }
                $("#Ethnic").val(user.ethnicity); 
                if (user.dietaryRestrictions.halal == "false") {
                  document.getElementById("halal").checked = false; 
                } else if (user.dietaryRestrictions.halal == "true") {
                  document.getElementById("halal").checked = true; 
                }
                

                if (user.dietaryRestrictions.vegan == "false") {
                  document.getElementById("vegan").checked = false; 
                } else if (user.dietaryRestrictions.vegan == "true"){
                  document.getElementById("vegan").checked = true; 
                }

                if (user.dietaryRestrictions.vegetarian == "false") {
                  document.getElementById("vegetarian").checked = false; 
                } else if (user.dietaryRestrictions.vegetarian == "true") {
                  document.getElementById("vegetarian").checked = true; 
                }

                if (user.dietaryRestrictions.nutAllergies == "false") {
                  document.getElementById("nutAllergies").checked = false; 
                } else if (user.dietaryRestrictions.nutAllergies == "true"){
                  document.getElementById("nutAllergies").checked = true; 
                }

                if (user.dietaryRestrictions.kosher == "false") {
                  document.getElementById("kosher").checked = false; 
                } else if (user.dietaryRestrictions.kosher == "true") {
                  document.getElementById("kosher").checked = true; 
                }

          }

        });
      }


    </script>
    <!-- infowindow content -->
    <script>
      function setRating(rating){
        console.log('got to set rating');
        $stars = $('.star-rating .fa');
        $stars.each(function(){
          if(parseInt($(this).data('rating'))<=parseInt(rating)){
            $(this).removeClass('fa-star-o').addClass('fa-star');
          }

        });

      }
    </script>



    <!-- infowindow content -->
